<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/index.css"type="text/css">
    <title>Document</title>
</head>
<body>
<div>
  <div >
    <div class="screen">
      <h1>display product item</h1>
      <% productlist.forEach(function(category) { %>

        <div class="category">
          <div><%= category.categoryId %></div>
          <div><%= category.categoryName %></div>
          <div><%= category.ProductId %></div>
          <div><%= category.ProductName %></div>
        </div>
      <% }) %>
    </div>
  </div>
  <br>
  <div class ="center">
  <form action ="/categories/ProductMaster" method="POST">
    <select name="search">
      <% categories.forEach(function(options) { %>
        <option value="<%= options %>">
          <%= options %>
        </option>
      <% }); %>
    </select>
    <br>
    <input type="text" id='categoryId' name="value" required>
    <button type="submit" name="action" value="Readcategories" >Read</button>
  </form>


</div>
<br>
<!-- <% categories.forEach(function(category) { %>  
    <div><%= category.categoryId %></div>
    <div><%= category.categoryName %></div> 
    <div><%= category.ProductId %></div>
    <div><%= category.ProductName %></div> 
<% }) %>
</div> -->
<div class =center>
    <form action="/categories/ProductMaster" method="POST">
      <label for="ProductId">categoryName</label>
        <input type="text" id="categoryName" name="categoryName" required>
        <br>
        <label for="ProductId">Productid</label>
        <input type="text" id="ProductId" name="ProductId" required>
        <br>
        <label for="ProductName">ProductName</label>
        <input type="text" id="ProductName" name="ProductName" required>
        <button type="submit" name="action" value="save">Save</button>
        <button type="submit" name="action" value="update">Update</button>
        <button type="submit" name="action" value="delete">Delete</button>
      </form>
    </div>
</body>
</html>